

.courses_container {
    width: 90vw;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    padding-block: 1rem;
    background-color: var(--clr-bg);
    color: var(--clr-text-main);
}

.card_container {
    margin-right: 1rem;
    margin-block: 1rem;
}

.courses {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;

}

.courses::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.image_container img{
    height: 100px;
}